.catalogo-body {
    box-sizing: border-box;
    padding-top: 3.5rem;

    background-color: var(--verde);

    width: 100%;
    /* height: 100svh; */

    display: flex;
    flex-direction: column;

    /* overflow-y: scroll;
    scrollbar-width: none; */
}

/* //////////////////////////////////////////CATALOGO////////////////////////////////////////// */
#catalogo-lista {
    height: fit-content;
    /* max-height: calc(100svh - 8rem); */
    width: 79rem;
    max-width: 95svw;
    max-width: 100svw;
    padding: 1.15rem 0 1rem 0.5rem;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.search-img {
    width: 1.1rem;
    max-height: 1.1rem;
    margin-top: 0.2rem;
}
















.catalogo-header {
    background-color: var(--verde);
    width: 77rem;
    max-width: 96svw;
    height: fit-content;
    padding: 0 2svw;
    margin: 0 auto;
    
    z-index: 2;
    position: sticky;
    top: -3rem;
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
}

.catalogo-header h1{
    width: 100%;
    margin-bottom: 1rem;
    font-family: var(--ffamily01);
    font-size: 3rem;
}

#catalogo-buscador{
    background-color: white;
    width: 20rem;
    max-width: 80svw;
    height: 2rem;
    padding: 0.3rem;
    border-radius: 1.5rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

#catalogo-buscador input {
    height: 100%;
    width: 85%;
    margin-left: 3%;
    border: none;
    background-color: transparent;

    font-weight: 600;
    font-family: var(--ffamily01);
}

#catalogo-buscador input:focus {
    outline: none;
}

#catalogo-buscador button {
    background-color: var(--azul);
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    position: relative;
}

.select-ordenar{
    background-color: white;
    background-color: var(--azul);
    height: 2.5rem;
    padding: 0.3rem 0.5rem;
    border-radius: 1.5rem;
    border: none;
    border-right: 0.5rem solid var(--azul);
    cursor: pointer;

    font-weight: 600;
    font-family: var(--ffamily01);
}

.select-ordenar:focus {
    outline: none;
}

.select-ordenar option {
    background-color: white;
    color: black;
}

.aplicated-filters-div{
    width: 100%;

    position: relative;
    top: -0.5rem;

    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.aplicated-filter{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.aplicated-filter p{
    margin: 0;
    font-size: 0.9rem;
    font-family: var(--ffamily01);
    font-weight: 600;
}

.aplicated-filter button{
    height: 1.3rem;
    width: 1.3rem;
    background-color: var(--rojo2);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}














@media only screen and (max-width: 50rem) {
    .catalogo-article{
        cursor: none;
    }
    .catalogo-article-hover{
        animation: none;
    }
    .catalog-img-span{
        animation: none;
        display: none;
        width: 0;
    }
}

@media only screen and (max-width: 81rem) {
    #catalogo-lista,
    .catalogo-header {
        width: 52rem;
    }
}

@media only screen and (max-width: 55rem) {
    #catalogo-lista {
        width: 26rem;
        max-width: 97svw;
    }
}