.administracion-body {
    box-sizing: border-box;
    /* margin-top: -1.35rem;  */

    background-color: var(--verde);

    width: 100%;
    height: 100svh;
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
}

.admin-text{
    background-color: white;
    width: fit-content;
    padding: 2rem;
    margin: 5rem auto 3rem;
    border: 0.1rem solid black;
}

button{
    cursor: pointer;
}

/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */

.administracion-body table{
    /* padding-top: 5rem; */
    /* border-top: 3.5rem solid var(--verde); */
    width: 100%; 
    background-color: var(--amarillo);
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 2rem;
}

.administracion-body table th{
    background-color: rgba(255, 255, 255, 0.7);
/* border: 1px solid black;
    border-collapse: collapse; */
}

.administracion-body table td{
    margin: 0 auto;
    /* border: 1px solid black; */
    border-bottom: none;
    /* border-left: none; */
    border-collapse: collapse;
    /* height: 2rem;
    min-height: 2rem; */
    /* width: 20svw; */
}

.administracion-body table td input{
    border: none;
    background-color: transparent;
    width: 95%;
    /* height: 99%; */
    /* height: fit-content; */
    padding: 0.5rem;
    /* height: ; */
}

.administracion-body table td textarea{
    border: none;
    background-color: transparent;
    width: 90%;
    /* height: 99%; */
    /* height: fit-content; */
    min-height: 5rem;
    min-width: 5rem;
    max-width: 25rem;
    padding: 0.3rem;
    scrollbar-width: none;
}

.administracion-body table td input:hover,
.administracion-body table td textarea:hover{
    background-color: rgba(255, 255, 255, 0.5);
}


.administracion-body table td textarea:focus{
    background-color: white;
    border: none;
}

.administracion-body table td input:focus{
    background-color: white;
    border: none;
}

::placeholder {
  color: black;
}