.administracion-body {
    box-sizing: border-box;
    /* margin-top: -1.35rem;  */

    background-color: var(--verde);

    width: 100%;
    height: 100svh;
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
}

.admin-form-div{
    position: absolute;
    width: 100svw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-form{
    background-color: var(--verde);
    border-radius: 1rem;
    width: 18rem;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.admin-form input{
    padding: 0.5rem;
}

.admin-form-div button{
    padding: 0.3rem;
}


























button{
    cursor: pointer;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.administracion-body table{
    width: 100%; 
    background-color: var(--amarillo);
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 2rem;
}

.administracion-body table th{
    background-color: rgba(255, 255, 255, 0.7);
    position: sticky;
    z-index: 11;
    top: 3.5rem;
}

.administracion-body table td{
    margin: 0 auto;
    border-bottom: none;
    border-collapse: collapse;
}

.administracion-body table td input{
    border: none;
    background-color: transparent;
    width: 95%;
    padding: 0.5rem;
}

.administracion-body table td textarea{
    border: none;
    background-color: transparent;
    min-height: 5rem;
    padding: 0.3rem;
    scrollbar-width: none;
}

.items-table-p-id{
    background-color: rgba(0, 0, 0, 0.2);
    margin: -1.5rem 0 1rem;
    padding: 0.3rem 0;
    font-size: 0.9rem;
    border-bottom: 1px solid black;

}

.items-table-textarea-name{
    width: 90%;
}

.items-table-textarea-info{
    width: 5rem;
}

.items-table-textarea-info:focus{
    width: 20rem;
}

.administracion-body table td input:hover,
.administracion-body table td textarea:hover{
    background-color: rgba(255, 255, 255, 0.5);
}


.administracion-body table td textarea:focus{
    background-color: white;
    border: none;
}

.administracion-body table td input:focus{
    background-color: white;
    border: none;
}

::placeholder {
  color: black;
}