.producto-body{
    background-color: var(--verde);

    overflow-y: scroll;
    scrollbar-width: none;
}

/* //////////////////////////////////////////PRODUCTO////////////////////////////////////////// */
#producto {
    box-sizing: border-box;
    /* background-color: rgba(225, 225, 225, 50%); */
    background-color: var(--verde);

    /* width: 100%; */
    width: 70%;
    height: 100svh;
    margin: 0 auto;
    
    
    /* z-index: 2; */

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}

/* #producto-tile {
    background-color: rgb(235, 235, 235);
    background-color: red;

    display: flex;
    flex-direction: column;

    margin: 5svh auto ;
    max-width: 50rem;
    border-radius: 1rem;
} */

/* #producto-tile-informacion {
    display: flex;
    flex-direction: column;
} */

@media only screen and (max-width: 50rem) {
    
    #producto {
        max-width: 96%;
    }
}

#producto h1 {
    background-color: white;
    /* width: fit-content; */
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    height: fit-content;
    margin-top: 6.5rem;

    padding-left: 100%;
    transform: translate(-25%);
}

.producto-span{
    /* background-color: red; */
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#producto h2 {
    background-color: white;
    /* width: fit-content; */
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    height: fit-content;
    margin-top: auto;
}

#producto p {
    width: calc(85% - 1rem);
    width: 80%;

    /* background-color: rgba(0, 0, 0, 0.2); */
    /* width: fit-content; */
    text-align: center;
    font-weight: bold;
    padding: 1rem 0.5rem;
    /* margin: -0.5rem auto 0.5rem; */
    /* margin-left: auto; */

    /* margin: 0 auto; */
    
    /* border-radius: 0 0 1rem 1rem; */
    border-radius: 1rem 0 0 1rem;
    /* margin: auto; */
}

.span-precios{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    gap: 1rem;
    margin-left: 0;
}

.precios {
    background-color: var(--amarillo);
    border: none;
    /* height: 2rem; */

    background-color: var(--amarillo);
    border: 2px solid black;
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;
    box-shadow: 0.2rem 0.2rem black;
    font-family: var(--ffamily01);

    font-weight: bold;
}

.precios:hover {
    cursor: pointer;
    background-color: white;
}

.precios-selected{
    /* box-shadow: 0 0 transparent; */
    /* transform: translate(0.3rem, 0.3rem); */

    animation: btn-click-anim 0.1s forwards;
}

@keyframes btn-click-anim {
    100%{
        box-shadow: 0 0 transparent;
        transform: translate(0.2rem, 0.2rem);
        background-color: var(--violeta);
    }
}

/* #producto h3:first-child {
    border-radius: 0 1rem 1rem 0;
} */

#producto h3 {
    /* color: black; */
    /* border: 0.3rem dashed black; */
    color: white;
    background-color: black;
    width: fit-content;
    padding: 1rem;
    margin-top: 0.2rem;
    border-radius: 1rem 0;
    margin-right: 1rem;
    border: 0.2rem dashed black;
    cursor: pointer;
}

.img-producto {
    /* width: 85%; */
    border-radius: 0.5rem ;
    border: 0.35rem dashed black;
    /* background-color: rgba(225, 225, 225, 0.5); */
    background-color: rgba(0, 0, 0, 0.1);
    background-color: var(--amarillo);

    max-width: 25rem;
    margin: 8rem auto auto;
    /* height: 80%; */
    z-index: 5;
}

.encargar-btns-div{
    /* background-color: red; */
    width: calc(100% - 1rem);

    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: auto 0 3rem;
}

.encargar-btn {
    background-color: var(--amarillo);
    background-color: var(--verde);
    border: 2px solid black;
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;
    /* margin-top: 1rem; */
    /* margin-left: auto; */
    /* margin: 1rem 1rem 0 auto; */
    font-family: var(--ffamily01);

    box-shadow: 0 0 transparent;
    transform: translate(0.3rem, 0.3rem);

    font-weight: bold;
}

.encargar-btn-ready{
    background-color: var(--amarillo);
    transform: translate(0, 0);
    box-shadow: 0.3rem 0.3rem black;
}

.encargar-btn-ready:hover {
    background-color: antiquewhite;
    animation: catalogo-completo-btn-click-anim 0.1s forwards;
}

.encargar-btn:hover {
    cursor: pointer;
}
