.producto-body{
    /* background-color: var(--verde); */

    overflow-y: scroll;
    scrollbar-width: none;

    z-index: -2;
}

/* //////////////////////////////////////////PRODUCTO////////////////////////////////////////// */
#producto {
    box-sizing: border-box;
    /* background-color: rgba(225, 225, 225, 50%);
    background-color: var(--verde); */

    /* width: 100%; */
    width: 70rem;
    max-width: 70%;
    /* min-width: 40rem; */
    height: calc(100svh - 3.5rem);
    margin: 3.5rem auto 0;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;

    overflow: visible;
    opacity: 0%;
    animation: producto-show-anim 0.3s ease-in-out 0s forwards;
}

@keyframes producto-show-anim {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/* #producto-tile {
    background-color: rgb(235, 235, 235);
    background-color: red;

    display: flex;
    flex-direction: column;

    margin: 5svh auto ;
    max-width: 50rem;
    border-radius: 1rem;
} */

/* #producto-tile-informacion {
    display: flex;
    flex-direction: column;
} */

.producto-title-bar{
    background-color: white;
    padding: 0.5rem 0;
    width: 100%;
    /* width: 50svw; */
    height: fit-content;
    min-height: 4rem;
    margin: 1.3rem 0;

    /* position: sticky;
    top: 3.5rem; */

    /* padding-left: 100%; */
    padding-left: 50svw;
    /* transform: translate(-25%); */
    transform: translate(-25svw);
}

/* #producto h1 { */
.producto-h1-compu{
    /* background-color: red; */
    height: fit-content;
    display: block;

    /* font-size: 1rem; */
    font-weight: 900;
    text-align: center;
    margin: 0;

    /* color: white; */
}

/* #producto h1::after { */
.producto-h1-compu-after::after{
    background-color: black;
    position: relative;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: auto 0 -0.5rem auto;
    transform: translate(0.01rem, -1.005rem);

    background: linear-gradient(-45deg, var(--verde) 0%, var(--verde) 50%, white 50%, white 100%);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
    /* linear-gradient(135deg, black 50%, transparent 50%); */
}

.producto-h1-mobil{
    display: none;
}

.producto-precio-final-h1{
    /* backdrop-filter: blur(10px); */
    /* background-color: var(--verde); */
    /* background-color: white; */
    padding: 0 0.5rem;
    border-radius: 10px;
    width: 100%;
    /* width: calc(100% - 2.6rem); */
    margin: 0 auto 0 0;

    position: sticky;
    top: 3.5rem;

    font-family: var(--ffamily01);
    font-size: 4.5rem;

    display: flex;
    align-items: end;
    flex-wrap: wrap;

    /* transform: translateX(-1rem); */
    /* animation: producto-precio-final-h1-change-anim 0.3s ease-in-out 0s forwards; */
}

@keyframes producto-precio-final-h1-change-anim {
    0%{
        transform: scale(1.1);
        color: var(--violeta);
    }
}

.producto-span{
    /* background-color: rgba(255, 255, 255, 0.2); */
    width: 50%;
    min-height: calc(100svh - 3.5rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* filter: blur(80px); */
    /* background: radial-gradient(circle at 50% 50%, var(--amarillo), var(--verde)); */

}

.producto-blur {
    position: relative;
    width: 150svh;
    height: 95svh;
    top: -20svh;
    /* left: 25svw; */
    margin-bottom: -95svh;
    filter: blur(80px);
    background: radial-gradient(circle at 50% 50%, var(--amarillo), var(--verde));
    z-index: -1;
}

#producto h3 {
    /* background-color: white; */
    /* width: fit-content; */
    text-align: start;
    /* padding: 0.5rem 0; */
    width: 100%;
    /* height: fit-content; */
    /* margin-top: auto; */
    font-family: var(--ffamily01);
}

/* #producto h2::before {
    position: relative;
    top: 2rem;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    display: block;
    margin: -1rem 0 -0.5rem auto;
} */


#producto p {
    background-color: rgba(255, 255, 255, 0.3);
    /* border: 0.3rem dashed rgba(255, 255, 255, 0.3); */
    border: 0.3rem dashed var(--verde);
    /* border-top: 0.3rem dashed var(--verde); */
    /* border-bottom: 0.3rem dashed var(--verde); */
    border-radius: 1rem;
    width: 90%;
    /* width: 100%; */

    text-align: center;
    font-weight: bold;
    padding: 1.5rem 1rem;

    margin: 1.5rem 0 3rem;

    white-space: pre-line;
}

.product-color-select{
    /* background-color: var(--amarillo); */
    height: 2.5rem;
    /* margin: 0 auto; */
    /* padding: 0 0.5rem; */
    padding: 0 0.3rem;
    border: 0.15rem solid black;
    cursor: pointer;

    font-family: var(--ffamily01);
    font-weight: 600;
}

.product-color-select:focus {
    /* border-radius: 1.3rem 1.3rem 0 0; */
    outline: none;
}

.product-color-select option{
    font-weight: 600;
}

.span-precios{
    /* background-color: red; */
    /* background: linear-gradient(to bottom, white 0%, transparent 100%); */
    /* background: linear-gradient(to bottom, var(--amarillo) 0%, transparent 100%); */
    width: 90%;
    /* height: fit-content; */
    /* margin: 1rem 0; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 1rem;
    /* margin-left: 0; */
}

.precios {
    background-color: var(--amarillo);
    border: none;
    /* height: 2rem; */
    height: fit-content;

    border: 2px solid black;
    padding: 1rem;
    padding: 0.7rem;
    /* border-radius: 2rem; */
    width: fit-content;
    box-shadow: 0.2rem 0.2rem black;
    font-family: var(--ffamily01);

    font-weight: bold;
    /* white-space: nowrap; */
}

.precios:hover {
    cursor: pointer;
    /* background-color:lightskyblue; */
    background-color: white;
}

.precios-selected{
    /* box-shadow: 0 0 transparent; */
    /* transform: translate(0.3rem, 0.3rem); */

    animation: btn-click-anim 0.1s forwards;
}

@keyframes btn-click-anim {
    100%{
        box-shadow: 0 0 transparent;
        transform: translate(0.2rem, 0.2rem);
        background-color: var(--violeta);
    }
}

/* #producto h3:first-child {
    border-radius: 0 1rem 1rem 0;
} */

/* #producto h3 {
    color: white;
    background-color: black;
    width: fit-content;
    padding: 1rem;
    margin-top: 0.2rem;
    border-radius: 1rem 0;
    margin-right: 1rem;
    border: 0.2rem dashed black;
    cursor: pointer;
} */

.producto-cant-btn{
    width: 2.5rem; 
    height: 2.5rem; 
    border: 0.15rem solid black; 
    background-color: var(--amarillo);
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem black;

    font-family: var(--ffamily01);
    font-weight: 500;
    font-size: 1.3rem;
}

@keyframes cant-btn-click-anim {
    0%{
        box-shadow: 0 0 transparent;
        transform: translate(0.2rem, 0.2rem);
        /* border-color: white; */
    }
    60%{
        transform: translate(0.2rem, 0.2rem);
        box-shadow: 0 0 transparent;

    }
}

.producto-cant-input{
    width: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--ffamily01);
    font-weight: 500;
    border: none;
    background-color: transparent;
    margin: 0 0.3rem;
}

.producto-cant-input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.images-tile{
    /* background-color: red; */
    /* height: 80svh; */
    max-height: 40rem;
    /* max-height: calc(90% - 8rem); */
    /* max-width: 25rem; */
    width: 50%;
    /* margin: 3rem auto auto; */
    margin: 2.5rem auto auto;
    /* height: 80%; */
    /* z-index: 5; */

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.img-producto-focus-holder{
    /* background-color: blue;  */
    display: flex; 
    align-items: center; 
    overflow: hidden; 
    margin: 0 auto;

    /* max-width: 30rem; */
    max-width: 90%;
    
    height: 35svw; 
    /* max-height: 30rem; */
    min-height: 23rem;
    /* max-height: 90svw; */
    /* max-height:60svh */
}

.img-producto-focus {
    /* border: 0.15rem solid black; */
    /* background-color: var(--amarillo); */

    /* width: 25rem; */
    /* max-width: 75%; */
    width: 100%;
    /* margin-bottom: auto; */
    margin: 0 auto;
    z-index: 1;
}

.images-tile-flex{
    /* background-color: greenyellow; */
    height: 7rem;
    width: 100%;

    display: flex;
    gap: 1rem;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    justify-content: center;
    /* justify-content: end; */
    align-items: center;
    /* flex-wrap: wrap; */
}

.img-producto{
    /* background-color: rgba(0, 0, 0, 0.1); */
    width: 5rem;
    /* min-width: 5rem; */
    max-width: 13%;
    cursor: pointer;
    margin: 0.1rem 0 auto 0;
}

.item-off-star{
    clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);
    background-color: var(--violeta);
    position: relative;
    top: -1rem;
    left: -1rem;
    width: 7rem;
    height: 7rem;
    /* z-index: 11; */
    margin-bottom: -7rem;

    font-family: var(--ffamily01);
    font-weight: 700;
    text-align: end;

    display: flex;
    align-items: center;
    justify-items: end;
    transform: rotate(-10deg);

    z-index: 2;
}

/* .img-producto-focus:hover {
    animation: img-producto-hover-anim 0.1s ease-in-out forwards;
} */

@keyframes img-producto-hover-anim {
    100%{
        scale: 1.05;
        box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.5);
        /* border: 0.35rem solid black; */
        /* border-color: transparent; */
    }
}

.encargar-btns-div{
    /* background-color: red; */
    width: calc(100% - 1rem);
    /* position: relative; */
    /* bottom: 0; */

    display: flex;
    justify-content: center;
    gap: 1rem;
    /* margin: 2rem 0 1rem; */
    margin: auto 0 1rem;
}

.encargar-btn {
    background-color: var(--amarillo);
    background-color: var(--verde);
    border: 2px solid black;
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;
    /* margin-top: 1rem; */
    /* margin-left: auto; */
    /* margin: 1rem 1rem 0 auto; */
    font-family: var(--ffamily01);

    box-shadow: 0 0 transparent;
    transform: translate(0.3rem, 0.3rem);

    font-weight: bold;
}

.encargar-btn-ready{
    background-color: var(--amarillo);
    transform: translate(0, 0);
    box-shadow: 0.3rem 0.3rem black;
}

@keyframes encargar-btn-ready-click-anim {
    0%{
        box-shadow: 0 0 transparent;
        transform: translate(0.3rem, 0.3rem);
        /* border-color: white; */
    }
    60%{
        transform: translate(0.3rem, 0.3rem);
        box-shadow: 0 0 transparent;

    }
}

.encargar-btn-ready:hover {
    background-color: antiquewhite;
    /* animation: catalogo-completo-btn-click-anim 0.2s forwards; */
    cursor: pointer;
}


















@media only screen and (max-width: 50rem) {
    
    #producto {
        width: 100svw;
        max-width: none;
        /* background-color: green; */
        /* margin-top: 2.5rem; */

        height: calc(100svh - 2.5rem);
        margin: 2.5rem auto 0;
    }
    .producto-span{
        width: 90%;
        min-height: fit-content;
    }
    .images-tile{
        margin-top: 2rem;
        width: 90svw;
        /* height: 33rem; */
        /* max-height: 40rem; */
        /* border-bottom: 0.25rem dashed black; */
    }
    .img-producto-focus {
        max-width: 100%;
        margin: 0 auto;
        max-height: 100%;
    }
    .images-tile-flex{
        /* background-color: rgba(0, 0, 0, 0.5); */
        width: calc(100svw - 1rem);
        transform: translateX(calc(-5svw ));
        justify-content: start;
        overflow-x: scroll;
        scrollbar-width: none;
        gap: 0.5rem;
        padding: 0 0.5rem;
        /* border-bottom: 0.25rem dashed black; */
        /* border-top: 0.25rem dashed black; */

        justify-content: start;
    }
    .img-producto{
        min-width: 4rem;
        margin: auto 0;
        /* max-width: 13%; */
    }
    .producto-title-bar{
        display: none;
        /* background-color: white; */
    }

    .producto-h1-mobil{
        width: 88svw;
        height: fit-content;
        /* font-size: 1.7rem; */
        text-align: center;
        /* font-weight: 100; */
        font-family: var(--ffamily01);

        padding: 1rem;
        transform: translate(-1svw);

        display: block;
        margin: -0.1rem 0 1rem -1rem;
        background-color: white;
        
        /* position: sticky;
        top: 3rem;
        z-index: 1; */
    }
    .producto-h1-mobil::after {
        position: relative;
        content: "";
        width: 2rem;
        height: 2rem;
        background-color: black;
        display: block;
        margin: 0 -1rem -1rem auto;
        background: linear-gradient(-45deg, var(--verde) 0%, var(--verde) 50%, white 50%, white 100%);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
        /* linear-gradient(135deg, black 50%, transparent 50%); */
    }
    .encargar-btns-div{
        margin: 2rem 0 2rem;
    }
    .img-producto,
    .precios,
    .precios:hover,
    .precios-selected,
    .encargar-btn,
    .encargar-btn:hover,
    .product-color-select,
    .producto-cant-btn{
        cursor: none;
    }
    .item-off-star{
        top: -3.5rem;
        left: -1.5rem;
        /* position: sticky;
        top: 2rem;
        z-index: 10; */
    }
    .producto-precio-final-h1{
        position: sticky;
        top: 3.5rem;
    }
}

@media only screen and (max-width: 30rem) {
.img-producto-focus-holder{
        min-height: 90svw;
    }
}