#footer {
    /* background-color: var(--amarillo); */
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: black; */
    margin: auto 0 0 0;
    width: 100%;
    /* max-width: 100svw; */
    z-index: 2;
    height: 5rem;
    padding: 1rem 0;
    /* border-top: 2px solid black; */

    text-align: center;    
    color: white;
}

/* #footer-tile{
    background-color: rgba(0, 0, 0, 0.5);
} */

#footer-tile p{
    margin: 0;
}