@import "./App.css";

/* PAGES */
@import "./Administration.css";
@import "./Catalog.css";
@import "./Home.css";
@import "./Product.css";
@import "./ShoppingCar.css";

/* COMPONENTS */
@import "./ArticleCard.css";
@import "./Footer.css";
@import "./LoadingScreen.css";
@import "./Navbar.css";

:root {
    /* --verde: #b1debc;
    --amarillo: #FFE0B8;
    --violeta: #B27CFC;
    --rosa: #dcb1de;
    --azul: #78B1DE;
    --rojo: #EB0917;
    --rojo2: #ff6f61;
    --azul2: #3245D1; */

    --verde: #a6d4b2;      
    --amarillo: #f9dca5;   
    --violeta: #a88ae0;    
    --rosa: #d3b0c9;       
    --azul: #6fa7cc;       
    --rojo: #d85a5a;       
    --rojo2: #f28c7b;      
    --azul2: #4a5fb8;      


    --ffamily01: "Roboto Condensed", sans-serif;
    --ffamily02: "Bowlby One", sans-serif;
    
    /* Encontrar otra solucion */
    /* Esto tambien soluciona el scroll horizontal generado por el 
      Home.css > .home-background-holder > width: 100svw; 
    */
    scrollbar-width: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--verde);
  /* box-sizing: border-box; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
