#navbar-div {
    width: 100svw;
    height: 3.5rem;
    background-color: var(--verde);
    border-bottom: 2px solid black;
    
    position: fixed;
    z-index: 10;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: end;
    gap: 1rem;
    align-items: center;
}

.navbar-link {
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border: none;
    padding: 0.7rem 0;
    width: 5rem;
    
    font-size: 0.8rem;
    font-family: var(--ffamily01);
    font-weight: 900;
    color: black;
    text-align: center;
    text-decoration: none;
}

.navbar-link:last-child{
    margin-right: 5rem;
}

.navbar-link:hover{
    /* scale: 1.1; */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.3rem;
}

.navbar-link p{
    /* position: relative;
    top: -2.5rem; */
    margin: 0;
}

.navbar-star {
    width: 3rem;
    height: 3rem;

    position: relative;
    bottom: -0.3rem;
    left: calc(50% - 1.5rem);
    z-index: -1;
    
    clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);
}

.navbar-car-btn {
    background-color: var(--violeta);
    border: 2px solid black;
    border-radius: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    box-shadow: 0.2rem 0.2rem black;

    position: absolute;
    right: 1.5rem;
    top: 2rem;
    /* animation: shopping-car-btn-anim 0.5s ease; */
}

@keyframes shopping-car-btn-click-anim {
    0%{
        box-shadow: 0 0 transparent;
        transform: translate(0.2rem, 0.2rem);
    }
    60%{
        transform: translate(0.2rem, 0.2rem);
        box-shadow: 0 0 transparent;

    }
}

.navbar-car-btn:hover {
    filter: brightness(1.05);
}

.navbar-car-img{
    height: 1.5rem;
    transform: translate(0.6rem, 0.6rem);
}

.navbar-car-point{
    background-color: transparent;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;

    position: absolute;
    right: 0;
    z-index: 3;
}

@keyframes ponit-car-img-anim {
    40%{
        transform: translate(-0.4rem, -0.8rem);
        scale: 1.5;
    }
    100%{
        background-color: red;
    }
}












@media only screen and (max-width: 600px) {
    .navbar-btn,
    .navbar-btn:hover{
        filter: brightness(1);
        cursor: none;
        scale: 1;
    }
    .navbar-car-btn {
        right: 0.5rem;
    }
    #navbar-div {
        justify-content: space-evenly;
        gap: 0;
    }
    .navbar-link:last-child{
        margin-right: 0;
    }
    .navbar-link:hover{
        background-color: transparent;
    }
}