*{
    font-family: var(--ffamily01);
}

.producto-page{
    box-sizing: border-box;
    height: fit-content;

    /* no m acuerdo el porq d esto */
    /* z-index: -2; */
}


















/* //////////////////////////////////////////PRODUCTO////////////////////////////////////////// */
#producto {
    /* background-color: red; */
    width: 70rem;
    max-width: 70%;
    /* height: calc(100svh - 3.5rem); */
    /* height: fit-content; */
    margin: 0 auto;
    padding-top: 3.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow: visible;
    scrollbar-width: none;
    opacity: 0%;
    animation: producto-show-anim 0.3s ease-in-out 0s forwards;
}

@keyframes producto-show-anim {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.producto-title-bar{
    background-color: white;
    padding: 0.5rem 0;
    width: 100%;
    height: fit-content;
    min-height: 4rem;
    margin: 1.3rem 0;

    padding-left: 50svw;
    transform: translate(-25svw);
    /* background: linear-gradient(90deg, white 0%, white 90%, transparent 100%); */
}

.producto-h1-compu{
    height: fit-content;
    display: block;

    font-weight: 900;
    text-align: center;
    margin: 0;
}

.producto-h1-compu-after::after{
    background-color: black;
    position: relative;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: auto 0 -0.5rem auto;
    transform: translate(0.01rem, -1.005rem);

    background: linear-gradient(-45deg, var(--verde) 0%, var(--verde) 50%, white 50%, white 100%);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.1rem solid rgba(0, 0, 0, 0.1);

    display: none;
}

.producto-h1-mobil{
    display: none;
}

.producto-precio-final-h1{
    padding: 0 0.5rem;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto 0 0;

    z-index: 1;
    position: sticky;
    top: 3.3rem;

    font-size: 4.5rem;

    display: flex;
    align-items: end;
    flex-wrap: wrap;

}

@keyframes producto-precio-final-h1-change-anim {
    0%{
        transform: scale(1.1);
        color: var(--violeta);
    }
}

.producto-span{
    width: 50%;
    /* min-height: calc(100svh - 3.5rem); */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-blur {
    position: relative;
    width: 150svh;
    height: 95svh;
    top: -20svh;
    left: -5svw;
    margin-bottom: -95svh;
    filter: blur(80px);
    background: radial-gradient(circle at 50% 50%, var(--amarillo), var(--verde));
    z-index: -1;
}

#producto h3 {
    text-align: start;
    width: 100%;
}

#producto p {
    width: 90%;
    /* width: 100%; */
    padding: 1.5rem 1rem;
    margin: 1.5rem 0 3rem;

    text-align: center;
    font-weight: bold;
    white-space: pre-line;
}

.producto-p-blur {
    position: relative;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -150%;
    filter: blur(40px);
    background: radial-gradient(circle at 50% 50%, white, var(--verde));
    z-index: -1;
}

.product-color-select{
    height: 2.5rem;
    padding: 0 0.3rem;
    border: 0.15rem solid black;
    cursor: pointer;

    font-weight: 600;
}

.product-color-select:focus {
    outline: none;
}

.product-color-select option{
    font-weight: 600;
}

.span-precios{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.precios {
    background-color: var(--amarillo);
    border: none;
    height: fit-content;

    border: 2px solid black;
    padding: 1rem;
    padding: 0.7rem;
    width: fit-content;
    box-shadow: 0.2rem 0.2rem black;

    font-weight: bold;
}

.precios:hover,
.producto-cant-btn:hover{
    cursor: pointer;
    background-color: antiquewhite;
}

.precios-selected{

    animation: btn-click-anim 0.1s forwards;
}

@keyframes btn-click-anim {
    100%{
        box-shadow: 0 0 transparent;
        transform: translate(0.2rem, 0.2rem);
        background-color: var(--violeta);
    }
}

.producto-cant-btn{
    width: 2.5rem; 
    height: 2.5rem; 
    border: 0.15rem solid black; 
    background-color: var(--amarillo);
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem black;

    font-weight: 500;
    font-size: 1.3rem;
}

@keyframes cant-btn-click-anim {
    0%{
        box-shadow: 0 0 transparent;
        transform: translate(0.2rem, 0.2rem);
    }
    60%{
        transform: translate(0.2rem, 0.2rem);
        box-shadow: 0 0 transparent;

    }
}

.producto-cant-input{
    width: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    background-color: transparent;
    margin: 0 0.3rem;
}

.producto-cant-input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.images-tile{
    max-height: 40rem;
    width: 50%;
    margin: 2.5rem auto auto;

    display: flex;
    flex-direction: column;
}

.img-producto-focus-holder{
    display: flex; 
    align-items: center; 
    overflow: hidden; 
    margin: 0 auto;
    max-width: 90%;
    height: 35svw; 
    min-height: 23rem;
    z-index: 3;
}

.img-producto-focus {
    width: 100%;
    margin: 0 auto;
}

.images-tile-flex{
    height: 7rem;
    width: 100%;

    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.img-producto{
    width: 5rem;
    max-width: 13%;
    cursor: pointer;
    margin: 0.1rem 0 auto 0;
}

.item-off-star{
    clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);
    background-color: var(--violeta);
    position: relative;
    top: -1rem;
    left: -1rem;
    width: 7rem;
    min-height: 7rem;
    margin-bottom: -7rem;

    font-weight: 700;
    text-align: end;

    display: flex;
    align-items: center;
    justify-items: end;

    z-index: 4;
}

@keyframes img-producto-hover-anim {
    100%{
        scale: 1.05;
        box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.5);
    }
}

.encargar-btns-div{
    width: calc(100% - 1rem);

    display: flex;
    justify-content: center;
    gap: 1rem;
    /* margin: auto 0 1rem; */
    margin: 2rem 0 2rem;
}

.encargar-btn {
    background-color: var(--amarillo);
    background-color: var(--verde);
    border: 2px solid black;
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;

    box-shadow: 0 0 transparent;
    transform: translate(0.3rem, 0.3rem);

    font-weight: bold;
}

.encargar-btn-ready{
    background-color: var(--amarillo);
    transform: translate(0, 0);
    box-shadow: 0.3rem 0.3rem black;
}

@keyframes encargar-btn-ready-click-anim {
    0%{
        box-shadow: 0 0 transparent;
        transform: translate(0.3rem, 0.3rem);
    }
    60%{
        transform: translate(0.3rem, 0.3rem);
        box-shadow: 0 0 transparent;

    }
}

.encargar-btn-ready:hover {
    background-color: antiquewhite;
    cursor: pointer;
}


















@media only screen and (max-width: 50rem) {
    
    #producto {
        width: 100svw;
        max-width: 100%;
        /* background-color: red; */
        overflow-x: hidden;

        /* height: calc(100svh - 2.5rem); */
        /* margin: 0 auto 0; */
    }
    .producto-span{
        width: 90%;
        min-height: fit-content;
    }
    .images-tile{
        margin-top: 2rem;
        width: 90svw;
    }
    .img-producto-focus {
        max-width: 100%;
        margin: 0 auto;
        max-height: 100%;
    }
    .images-tile-flex{
        width: calc(100svw - 1rem);
        transform: translateX(calc(-5svw ));
        justify-content: start;
        overflow-x: scroll;
        scrollbar-width: none;
        gap: 0.5rem;
        padding: 0 0.5rem;

        justify-content: start;
    }
    .img-producto{
        min-width: 4rem;
        margin: auto 0;
    }
    .producto-title-bar{
        display: none;
    }

    .producto-h1-mobil{
        width: 88svw;
        height: fit-content;
        text-align: center;

        padding: 1rem;
        transform: translate(-3svw);

        display: block;
        margin: -0.1rem 0 1rem -1rem;
        background-color: white;
        
    }
    .producto-h1-mobil::after {
        position: relative;
        content: "";
        width: 2rem;
        height: 2rem;
        background-color: black;
        display: block;
        margin: 0 -1rem -1rem auto;
        background: linear-gradient(-45deg, var(--verde) 0%, var(--verde) 50%, white 50%, white 100%);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
    }
    .encargar-btns-div{
        margin: 2rem 0 2rem;
    }
    .img-producto,
    .precios,
    .precios:hover,
    .precios-selected,
    .encargar-btn,
    .encargar-btn:hover,
    .product-color-select,
    .producto-cant-btn{
        cursor: none;
    }
    .item-off-star{
        top: -3.5rem;
        left: -1.5rem;
    }
    .producto-precio-final-h1{
        position: sticky;
        top: 3.5rem;
        background-color: var(--verde);
    }
    .product-recomended-items{
        max-width: 90svw;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 30rem) {
.img-producto-focus-holder{
        min-height: 90svw;
    }
}



















/* //////////////////////////////////////////MORE////////////////////////////////////////// */
.product-recomended-items{
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* background-color: blue; */
    /* border-top: 0.3rem dashed black; */
    margin-bottom: 4rem;
    min-height: 13rem;
}

.product-recomended-items-tile{
    /* background-color: red; */
    /* width: 100svw; */
    /* width: fit-content; */
    max-width: 98svw;
    min-height: 1rem;
    margin: 0 auto;

    display: flex;
    /* gap: 1svw; */
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: center;
}