#carro-de-compra{
    box-sizing: border-box;
    /* margin-top: -1.35rem;  */

    background-color: var(--verde);

    width: 100%;
    /* height: 100svh; */
    /* height: calc(100svh - 3.5rem);
    margin-top: 3.5rem; */

    display: flex;
    justify-content: center;
    font-family: var(--ffamily01);
    /* background-color: red; */
    flex-wrap: wrap;

    overflow-y: visible;
    /* scrollbar-width: none;
    scrollbar-color: black transparent; */
}

/* #carro-de-compra *{
    margin: 0;
} */

.car-tile{
    /* background-color: rgba(0, 0, 0, 50%); */
    padding-top: 3.5rem;
    width: 40%;
    min-width: 24rem;
    /* max-width: 90svw; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
}

.car-list-tile{
    /* height: fit-content; */
    height: calc(100svh - 3.5rem);
    /* height: 100svh; */
    /* background-color: red; */
    position: sticky;
    top: 0;
}

.list-div {
    padding-right: 5.5rem;
    padding-right: 0.5rem;
    width: 90%;
    padding-top: 1rem;
    /* border-bottom: 3px solid black; */

    overflow-y: scroll;
    scrollbar-width: none;
}

.carrito-articulo{
    background-color: rgba(0, 0, 0, 0.1);
    background-color: var(--amarillo);
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.3rem;
    border: 2px solid black;
    box-shadow: 0.3rem 0.3rem black;
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    /* gap: 0.5rem; */

    font-family: var(--ffamily01);
    color: black;
    text-decoration: none;
    overflow: visible;
}

.carrito-articulo:hover{
    animation: carrito-article-anim 1.7s forwards;
}

@keyframes carrito-article-anim {
    /* 100%{
        box-shadow: 0 0 transparent;
        transform: translate(0.3rem, 0.3rem);
    } */
    5%{
        box-shadow: 0.15rem 0.15rem black;
        transform: translate(0.15rem, 0.15rem);
        /* filter: brightness(105%); */
    }
    15%{
        box-shadow: 0.3rem 0.3rem black;
        transform: translate(0, 0);
    }
    100%{
        /* filter: brightness(105%); */
    }
}

.carrito-articulo-img{
    height: 4rem;
}

/* .carrito-articulo span{} */

/* .carrito-articulo-precio{
    margin-left: auto;
} */

.remove-article-btn{
    width: 1.7rem;
    height: 1.7rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color:rgb(252, 56, 56);

    /* margin-left: 0.5rem; */
    z-index: 3;
    margin: 0 -2rem auto 0.7rem;
}

.remove-article-btn:hover {
    cursor: pointer;
    /* background-color:rgb(238, 103, 103);
    background-color:rgb(248, 101, 101); */
    filter: brightness(190%);
}

.car-cant-btn{
    font-size: 1.5rem ;
    font-family: var(--ffamily01);
    background-color: var(--amarillo);
    cursor: pointer;
    width: 2.5rem;
    height: 2.3rem;
    border: none;
    border-radius: 0.3rem;
}

.car-cant-btn:hover{
    background-color: rgba(255, 255, 255, 0.6);
    /* color: red; */
}

.clear-car-btn {
    margin: auto 0 1rem;
}

/* .carrito-span{
    position: relative;
    right: -7rem;
} */

/* .car-info-tile{
    background-color: red;
} */

/* #carform{
    overflow-y: scroll;
    scrollbar-color: black transparent;
    scrollbar-width: none;
    background-color: red;
    max-height: 90svh;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
} */

.car-info-tile{
    /* background-color: green; */
    /* overflow-y: scroll;
    scrollbar-color: black transparent;
    scrollbar-width: none;
    height: calc(100% - 3.5rem); */
    margin-bottom: 3rem;
}


@media only screen and (max-width: 50rem) {
    .car-tile{
        width: 100%;
    }
    .car-list-tile,
    .car-info-tile{
        height: fit-content;
    }
}














.car-form{
    background-color: var(--verde);
    width: 90%;
    margin: 2rem auto 0;
    padding: 1rem;
    border-radius: 0 0.5rem;
    /* border: 0.1rem solid black; */
    /* box-shadow: 0.3rem 0.3rem black; */

    display: flex;
    /* flex-direction: column; */
    /* justify-content: start;
    align-items: start; */
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5%;

    /* background-color: var(--amarillo); */
    /* background-color: var(--violeta); */
}

.car-form input{
    background-color: var(--amarillo);
    background-color: white;
    border: none;
    /* width: 17rem; */
    height: 1.5rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin: 0.5rem 0;

    width: calc(45% - 1rem);
}

.car-form label{
    /* width: 45%; */
    height: 2rem;
}

.car-form h1{
    margin: 0 auto 1.7rem;
}

.car-form hr{
    margin: 2rem 0;
}

.send-request-btn{
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    font-weight: 600;
    margin: 0 auto;

    box-shadow: 0 0 transparent;
    transform: translate(0.3rem, 0.3rem);
}

.car-form button:hover{
    background-color: antiquewhite;
}

.send-request-btn-ready{
    background-color: var(--amarillo);
    transform: translate(0, 0);
    box-shadow: 0.3rem 0.3rem black;
}

/* .car-form *{    border: 1px solid red;  } */