:root {
    /* --verde: #b1debc;
    --amarillo: #FFE0B8;
    --violeta: #B27CFC;
    --rosa: #dcb1de;
    --azul: #78B1DE;
    --rojo: #EB0917;
    --rojo2: #ff6f61;
    --azul2: #3245D1; */

    --verde: #a6d4b2;      /* Verde fresco, menos brillante */
    --amarillo: #f9dca5;   /* Amarillo cálido, más mantecoso */
    --violeta: #a88ae0;    /* Violeta lavanda con menos saturación */
    --rosa: #d3b0c9;       /* Rosa pastel con toque malva */
    --azul: #6fa7cc;       /* Azul cielo apagado pero aún vibrante */
    --rojo: #d85a5a;       /* Rojo coral más suave, sin perder presencia */
    --rojo2: #f28c7b;      /* Salmón cálido y envolvente */
    --azul2: #4a5fb8;      /* Azul profundo con menos contraste */


    --ffamily01: "Roboto Condensed", sans-serif;
    --ffamily02: "Bowlby One", sans-serif;
    
    /* Encontrar otra solucion */
    /* Esto tambien soluciona el scroll horizontal generado por el 
      Home.css > .home-background-holder > width: 100svw; 
    */
    scrollbar-width: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--verde);
  /* box-sizing: border-box; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
