#loading-holder{
    width: 70rem;
    max-width: 70%;
    margin: 0 auto;
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-producto-yellow-star-01 {
    background-color: var(--amarillo);
    width: 9rem;
    height: 9rem;
    z-index: 5;
    margin-right: -4rem;
    /* margin-left: -4rem; */
    
    clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);
    animation: loading-producto-star-anim 3s ease-in-out 0s infinite;
}

.loading-producto-yellow-star-02 {
    background-color: var(--amarillo);
    width: 4rem;
    height: 4rem;
    z-index: 5;
    margin-right: -4rem;
    margin-bottom: 5rem;
    
    clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);
    animation: loading-producto-star-anim 2s ease-in-out 0.4s infinite;
}

.loading-producto-green-star {
    background-color: var(--verde);
    width: 6rem;
    height: 6rem;
    z-index: 5;
    margin-top: 3rem;
    
    clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);
    animation: loading-producto-star-anim 2s ease-in-out 0.8s infinite reverse;
}

@keyframes loading-producto-star-anim {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}