/* #navbar-div {
    width: 100svw;
    height: 3rem;
    background-color: blue;

    display: flex;
    justify-content: space-evenly;

    position: fixed;
    top: 0;
}

.navbar-btn {
    background-color: red;
    border: none;
} */

#navbar-div {
    width: 100svw;
    height: 3.5rem;
    background-color: var(--verde);
    border-bottom: 2px solid black;
    position: fixed;

    display: flex;
    justify-content: space-evenly;
    z-index: 10;
}

#minilogo {
    height: 2rem;
    margin: auto 0;
}

.navbar-btn {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    
    font-family: var(--ffamily01);
    font-weight: 900;

    color: black;
    text-align: center;
    text-decoration: none;
}

.navbar-btn:hover{
    scale: 1.2;
}

.navbar-btn p{
    position: relative;
    top: -2.5rem;
}

.estrella {
    background-color: rgba(0, 0, 0, 0.15);
    width: 3rem;
    height: 3rem;
    position: relative;
    bottom: -0.3rem;
    left: calc(50% - 1.5rem);
    z-index: -1;
    
    clip-path: polygon(100% 50%,78.98% 57.76%,93.3% 75%,71.21% 71.21%,75% 93.3%,57.76% 78.98%,50% 100%,42.24% 78.98%,25% 93.3%,28.79% 71.21%,6.7% 75%,21.02% 57.76%,0% 50%,21.02% 42.24%,6.7% 25%,28.79% 28.79%,25% 6.7%,42.24% 21.02%,50% 0%,57.76% 21.02%,75% 6.7%,71.21% 28.79%,93.3% 25%,78.98% 42.24%);
}

.estrella-inicio{
    background-color: var(--amarillo);
}

.shopping-car-btn {
    position: absolute;

    /* float: right; */
    right: 0.5rem;
    top: 4rem;
    /* margin-right: 0.5rem;
    margin-top: 0.5rem; */

    background-color: var(--violeta);
    border: 2px solid black;
    /* padding: 0.5rem; */
    border-radius: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    box-shadow: 0.2rem 0.2rem black;
    /* font-family: var(--ffamily01); */

    /* animation: shopping-car-btn-anim 0.5s ease; */
}

@keyframes shopping-car-btn-click-anim {
    /* 50%{
        box-shadow: 0 0 transparent;
        transform: translate(0.2rem, 0.2rem);
    } */
    0%{
        box-shadow: 0 0 transparent;
        transform: translate(0.2rem, 0.2rem);
        /* border-color: white; */
    }
    60%{
        transform: translate(0.2rem, 0.2rem);
        box-shadow: 0 0 transparent;

    }
}

.shopping-car-btn:hover {
    /* animation: catalogo-completo-btn-click-anim 0.2s forwards; */
    background-color:rgb(205, 182, 253);
}

.shopping-car-img{
    height: 1.5rem;
    transform: translate(0.6rem, 0.6rem);
}

.shopping-car-point{
    background-color: transparent;
    width: 0.9rem;
    height: 0.9rem;
    /* border: 3px solid red; */
    border-radius: 50%;

    position: absolute;
    right: 0;
    z-index: 3;
}

@keyframes ponit-car-img-anim {
    40%{
        transform: translate(-0.4rem, -0.8rem);
        scale: 1.5;
    }
    100%{
        background-color: red;
    }
}